/* ESTILOS GENERALES */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

h1 {font-size: 3.5em;} 
h2 { font-size: 2.7em;}
h3 {font-size: 2em;}
p {font-size: 1.25em;}
ul {list-style: none;}
li {font-size: 1.25em;}

/* button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;    
    background-color: #5F0A87;
}

button:hover{
    background-color: #2F004F;
    cursor: pointer;
} */

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: #2F004F;
    color: #dcc2e4;
    cursor: pointer;
    transition: all 300ms;
    overflow: hidden;
}

button:hover{
    color: white;
}

button span{
    position: absolute;
    background: #fff;
    transition: all 300ms;
}

button span:nth-child(1){
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

button span:nth-child(2){
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3){
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

button span:nth-child(4){
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1){
    left: 0;
}

button:hover span:nth-child(2){
    right: 0;
}

button:hover span:nth-child(3){
    bottom: 0;
}

button:hover span:nth-child(4){
    top: 0;
}

.container{
    max-width: 1100px;
    margin: auto;
}

.color-font{
    color: #5F0A87;
}

header{
    background-color: rgb(245, 245, 245);
}

/* ESTILOS GENERALES */

/* -----------------------------------------------------------------------------------------------------------------*/

/* ESTILOS DE LA CABECERA */
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #5F0A87;
    font-size: 1.6em;

}

header .container ul{
    padding-left: 0;
}

header .container{
    display: flex;    
    flex-direction: column;
    align-items: center;
}

header ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header li{    
    display: inline;
    position: relative;
    color: #ffffff;
    margin: 10px;    
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s all ease;
}

header li:hover{
    color: #cdcdcd;
    transition: 0.4s all ease;
}

header li::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #5F0A87;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

header li:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

header p{
    cursor: pointer;
    transition: all 300ms;
}

header p:hover{
    transform: scale(1.1,1.1);
}

/* ESTILOS DE LA CABECERA */

/* ------------------------------------------------------------------------------------------ */

/* ESTILOS DE HERO */

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("IMG/wallpaper-single-page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* ESTILOS DE HERO */

/* ------------------------------------------------------------------------------------------ */

/* ESTILOS DE ABOUT */
#about .container{
    text-align: center;
    padding: 200px 12px;
    transition: all 300ms;
}

#about .image-container{
    transition: all 300s;
}

#about .image-container:hover{
    transform: scale(1.01,1.01);
}

/* ESTILOS DE ABOUT */


/* ESTILOS PROJECTS AND CARDS */
#projects{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#projects .container{
    padding: 100px 0px;
}

#projects h2{
    margin-top: 0;
    font-size: 3.2em;
    text-transform: uppercase;
}

#projects p{
    display: none;
}

#projects .card{        
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 12px;
    border-radius: 15px;    
    transition: all 300ms;
}

#projects .card:hover{        
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transform: scale(1.05,1.05);
}

.card:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("IMG/full-stack.jpg");
}

.card:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("IMG/front-end.png");
}

.card:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("IMG/other.jpg");
}
/* ESTILOS PROJECTS AND CARDS */

/* ------------------------------------------------------------------------------------------ */


/* ESTILOS PROPIERTIES */
#properties .container{
    text-align: center;    
    padding: 200px;
}

#properties h2{
    margin-top: 0;
    font-size: 3.2em;
    text-transform: uppercase;
}

#properties li{    
    margin: 15px 0px;
    font-weight: bold;
}

#properties li a{
    text-decoration: none;
    transition: all 300ms;
}

#properties li a:hover{
    padding-left: 30px;
    width: 100%;    
}

/* ESTILOS PROPIERTIES */


/* ESTILOS CONTACTME */
#contacme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    padding-top: 20px;
    height: 100vh;
}

#contactme h2{
    font-size: 20vh;
}

#contactme button{
    font-size: 8vh;
}
/* ESTILOS CONTACTME */

.compartir{
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.compartir span{
    width: 200px;
    line-height: 80px;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.compartir nav{
    font-size: 0;
}

.compartir a{
    line-height: 80px;
    width: 80px;
    text-align: center;
    display: inline-block;
    background: linear-gradient(180deg, #480774, #2F004F);
    color: #ffffff;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    margin: 0 -5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.compartir a:nth-child(1) {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-left: 0;
}

.compartir a:nth-child(1):hover {
    background-color: #ea4335;
}

.compartir a:nth-child(2):hover {
    background-color: #050608;
}
.compartir a:nth-child(3):hover {
    background-color: #dd4ec5;
}
.compartir a:nth-child(4) {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-right: 0;
}
.compartir a:nth-child(4):hover {
    background-color: #000000;
}
.compartir:hover span, .compartir.hover span {
    opacity: 0;
}
.compartir:hover a {
    margin: 0 10px;
    color: #413838;
    font-size: 28px;
    border-radius: 50%;
    background: #ffffff15; 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);; 
    -webkit-backdrop-filter: blur(2px);; 

}
.compartir:hover a:hover {
    color: #fff;
}

/* ESTILOS FOOTER */
#footer{
    background-color: #CECCCC; 
}

#footer p{
    margin: 0;
    color: #494a52;
}

#footer a{
    text-decoration: none;
    color: #494a52;
}

#footer a:hover{
    scale: 0.1, 0.2;
    color: #2F004F;
    font-weight: bold;
}

#footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ESTILOS FOOTER */

/* FIN FORMATO MOVIL */


/* ------------------------------------------------------------------------------------------ */
/* INICIO FORMATO ESCRITORIO  */

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;    
        z-index: 999;    
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    #hero h1{
        font-size: 4em;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #about .container{        
        display: flex;
        justify-content: space-evenly;        
    }

    #about .text{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;     
        display: flex;        
        flex-direction: column;
        justify-content: center;       
    }

    #about .image-container{
        background-image: url("IMG/about.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 350px;
        border-radius: 10px;
        transition: all 300ms;
    }

    #about .image-container:hover{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);        
    }


    #projects .programs{
        display: flex;
        justify-content: center;
    }

    #projects p{
        display: block;
        padding-bottom: 30px;
    }

    #projects h3{
        margin-top: 0;
    }

    #projects .card{
        padding: 40px;
    }

    #properties .img{
        background-image: url("IMG/propierties.jpg");
        background-repeat: no-repeat;
        background-size: 500px 500px;
        background-position: calc(100vw - 900px) 100px; 
        transition: all 300ms;                
    }

    #properties .img:hover{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    }

    #properties .container{
        text-align: initial;
    }

    #properties ul{
        margin-left: -40px;
    }
}

@media (min-width: 1200px){

    #properties{
        background-position-x: calc(100vw - 600px);
    }
}
@media (min-width: 763px) {
    #projects .card {
        padding: 10px;
    }

    #properties {
        background-image: url("IMG/propierties.jpg");
        background-repeat: no-repeat;
        background-size: 350px 350px;
        background-position: calc(100vw - 500px) 100px;
    }

    #properties .img:hover{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    }

    #properties .container {
        padding: 50px;
        text-align: initial;
    }
}

@media (min-width: 822px) {
    #projects .card {
        padding: 20px;
    }
}

@media (min-width: 882px) {
    #projects .card {
        padding: 30px;
    }
}

@media (min-width: 972px) and (max-width: 1000px) {
    #projects .card {
        padding: 45px;
    }

    #properties {
        text-align: left;
        background-position-x: calc(90vw - 500px);
    }

    #properties ul {
        margin-left: -100px;
    }

    #properties h2 {
        margin-left: -90px;
    }
}

@media (min-width: 800px) {
    #properties .img{
        background-image: url("IMG/propierties.jpg");
        background-repeat: no-repeat;
        background-size: 400px 350px;
        background-position: calc(100vw - 700px) 70px;
    }

    #properties .img:hover{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    }
    
}

/* Regla por defecto */
@media (max-width: 762px) {
    #projects .card {
        padding: 5px;
    }

    #properties {
        background-image: none;
        background-position: initial;
    }

    #properties .container {
        padding: 220px;
        text-align: initial;
    }

    #properties ul {
        margin-left: initial;
    }

    #properties h2 {
        margin-left: initial;
    }
}


    #properties ul {
        margin-left: -190px;
    }

    #properties h2{
        margin-top: -90px;
        margin-left: -150px;
    }

    #properties .container{
        padding: 180px;
    }